.header {
	background-color: #b6303d;
	width: 100%;
	min-height: 50px;
}

.layout {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vw;
	max-width: 1400px;
	margin: 0px auto;
	background-color: rgb(165, 168, 168);
}

.wrapper {
	display: flex;
	width: 100%;
	min-height: 100vw;
	background-color:  rgba(205, 241, 238, 0.185);
	overflow: hidden;
	width: 100%;
}


@media(max-width:500px){
	.header {
		min-height: 30px;
	}
	.wrapper {
		display: flex;
		flex-direction:column;
		justify-content: center;
		margin-top: 10px;
	}
}

.navbar {
	padding: 5px;
	width: 100px;		
}

@media(max-width:500px) {
	.navbar {
		margin: 20px;
		border-radius: 20px;
		overflow: hidden;
	}
}



.item a.active {
	color: rgba(4, 4, 49, 0.726);
	font-weight: bold;
	border-color: rgba(4, 4, 49, 0.726) ;
}

.item a:hover {
	color: rgb(255, 230, 0);
	box-shadow: 5px 0 5px rgb(15, 22, 58);
}
.item a {
	display: block;
	margin: 10px;
	padding: 5px;
	color: rgb(255, 230, 0); 
	border: 2px solid rgba(4, 4, 49, 0.726);
	border-radius: 20px;
	text-decoration: none;
}
.recipes {
	margin: 10px;
}

h1 {
	font-size: 24px;
	color:rgb(15, 22, 58);
	text-align: center;
}

li {
	list-style-type: none;
	margin: 10px;
	padding: 5px;
	min-height: 60px;
}

.link {
	text-decoration: none;
	color:rgba(4, 4, 49, 0.726);
}

.link:hover {
	color: rgb(255, 230, 0);
}
.flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btn {
	margin: 10px;
	color:rgb(255, 230, 0);
	background-color:rgba(4, 4, 49, 0.726) ;
	border-radius: 10px;
	cursor: pointer;
}

.btn:hover {
	transform: scaleY(1.2);
	color:rgba(4, 4, 49, 0.726);
	background-color: #b6303d;
	box-shadow: 5px 0 5px rgb(15, 22, 58);
}

input {
	margin-right: 10px;
}

input + span {
	margin: 10px;
}

.footer{
	/* background-color: rgb(16, 184, 114); */
	background-color:  #b6303d;
	text-align: center;
	color: white;
	font-weight: 700;
}